<launch>
 


    <node pkg="obj_detection" type="CameraStream" name="CameraStream" output="screen" >
	<param name="device" type="int" value="2" />
	<param name="width" type="double" value="960" />
	<param name="height" type="double" value="540" />
	<param name="fps" type="double" value="30" />
	<param name="brigthness" type="double" value="0.219608" />
	<param name="contrast" type="double" value="0.3333333" />
	<param name="saturation" type="double" value="0.501961" />
	<param name="hue" type="double" value="0.5" />
	<param name="gain" type="double" value="0.125" />
	<param name="debug_mode" type="bool" value="false"/>
	<param name="real_time" type="bool" value="true"/>
	<param name="img_path" type="string" value="/home/ste/Immagini/test_drone/"/>
    </node>


        
</launch>
