<launch>
 


   <node pkg="obj_detection" type="VisionNodeIntel" name="VisionNode" output="screen" >


	<param name="real_time" type="bool" value="false"/>
	<param name="img_path_save" type="string" value="/home/odroid/"/>
	<param name="save_img" type="bool" value="true"/>
    </node>


        
</launch>
