<launch>

    <node pkg="navigation_system" type="UWBSystem_Node" name="UWBSystem_Node" output="screen" >
    	<param name="debug" type="bool" value="True" />
    	<param name="log_file" type="bool" value="False" />
    	

    	<!-- anchor 0 -->
    	<param name="anchor0_X" type="double" value="0.0001" />
    	<param name="anchor0_Y" type="double" value="0.0" />
    	<param name="anchor0_Z" type="double" value="0.0" />
    	<!-- anchor 1 -->
    	<param name="anchor1_X" type="double" value="0.0" />
    	<param name="anchor1_Y" type="double" value="8.144" />
    	<param name="anchor1_Z" type="double" value="0.0" />
    	<!-- anchor 2 -->
    	<param name="anchor2_X" type="double" value="15.654" />
    	<param name="anchor2_Y" type="double" value="2.458" />
    	<param name="anchor2_Z" type="double" value="0.0" />
    	<!-- anchor 3 -->
    	<param name="anchor3_X" type="double" value="7.683" />
    	<param name="anchor3_Y" type="double" value="3.235" />
    	<param name="anchor3_Z" type="double" value="1.53" />


    	<!-- EKF PARAM-->
    	<param name="freq_filter" type="int" value="40" />
		<!--R-->
    	<param name="R1" type="double" value="0.00045796" />
    	<param name="R2" type="double" value="0.00045796" />
    	<param name="R3" type="double" value="0.00045796" />
    	<param name="R4" type="double" value="0.00045796" />
    	<!--P-->
    	<param name="P1" type="double" value="0.001" />
    	<param name="P2" type="double" value="0.001" />
    	<param name="P3" type="double" value="0.001" />
    	<param name="P4" type="double" value="0.05" />
    	<param name="P5" type="double" value="0.05" />
    	<param name="P6" type="double" value="0.05" />
    	<!--Q-->
    	<param name="Q1" type="double" value="0.0000001" />
    	<param name="Q2" type="double" value="0.0000001" />
    	<param name="Q3" type="double" value="0.0000001" />
    	<param name="Q4" type="double" value="0.0000001" />
    	<param name="Q5" type="double" value="0.0000001" />
    	<param name="Q6" type="double" value="0.0000001" />
    </node>

</launch>
