<launch>
 


    <node pkg="serial_manager" type="SerialManager" name="SerialManager" output="screen" >
	    <remap from="/napodrone_pose" to="/aruco/pose_body_from_board"/>
		<param name="dev" type="string" value="/dev/ttyUSB0" />
		<param name="stream_pose" type="bool" value="True" />
		<param name="ack_el_time" type="int" value="1000" />
		<param name="pose_el_time" type="int" value="1000" />
		<param name="x_m_LimitMax" type="double" value="3" />
		<param name="x_m_LimitMin" type="double" value="0" />
		<param name="y_m_LimitMax" type="double" value="2" />
		<param name="y_m_LimitMin" type="double" value="0" />
		<param name="z_m_LimitMax" type="double" value="5" />
		<param name="z_m_LimitMin" type="double" value="0" />
		<param name="soglia_batteria" type="double" value="13.5" />
    </node>

        
</launch>
