<launch>
 


    <node pkg="autopilot_manager" type="AutopilotManager_Node" name="AutopilotManager" output="screen" >s
	<param name="dev" type="string" value="/dev/ttyUSB1" />
        <param name="real_vehicle" type="boolean" value="True" />
        <param name="loop_rate_hz" type="int" value="50" />
    </node>

        
</launch>
