<launch>
 


    <node pkg="pixhawk_manager" type="Pixhawk_Node" name="PixhawkManager" output="screen" >
	<param name="dev" type="string" value="/dev/ttyACM1" />
        <param name="real_vehicle" type="boolean" value="True" />
        <param name="loop_rate_hz" type="int" value="50" />
    </node>

        
</launch>
