<?xml version="1.0"?>
<launch> 
  <node pkg="gripper_manager" type="gripper_manager" name="gripper_manager" output="screen">
    	<param name="pwm_pin" type="int" value="32" />  
    	<param name="dir_pin" type="int" value="37" /> 
    	<param name="buzzer_pin" type="int" value="13" /> 
    	<param name="time_grip" type="double" value="2.5" /> 
    	 

  </node> 
  
</launch>